{% extends "base.html" %}
 
{% block start %}

<h1>Expense Tracker</h1>
<div class="container">
    <div class="header">
        <img
        src="https://i.ibb.co/jfScDTC/budget.png"
        alt="Expense Tracker"
        />
        <div class="balance-container">
            <h2>Your Balance</h2>
      <h2 id="balance" class="balance">${{profile.balance}} </h2>
    </div>
  </div>
  <div class="inc-exp-container">
    <div>
        <h4>Income</h4>
        <p id="money-plus" class="money plus">+${{profile.income}} </p>
    </div>
    <div>
        <h4>Expenses</h4>
        <p id="money-minus" class="money minus">-${{profile.expenses}}</p>
    </div>
</div>
  <h3>History</h3>
    <ul id="list" class="list">
      {% for expense in expenses %}
      {% if expense.expense_type == 'Positive' %}
      <li class="plus">
      {{expense.name}} <span>+${{expense.amount}} </span>
      </li>
      {% else %}
       <li class="minus">
        {{expense.name}} <span>-${{expense.amount}} </span>
        </li>
        {% endif %}
        {% endfor %}
        
    </ul>
  <h3>Add new transaction</h3>
  <form id="form" method="POST">
    {% csrf_token %}
      <div class="form-control">
          <label for="text">Text</label>
          <input type="text" id="text" name="text" placeholder="Enter description..." />
        </div>
        <div class="form-control">
            <label for="amount"
            > Amount <br />
            </label
            >
            <input type="number" id="amount" name="amount" placeholder="Enter amount..." />
        </div>
        <div class="form-control">
            <label for="text">Text:</label>
            <select name="expense_type" class="form-control"> 
                <option value="Positive">Positive</option>
                <option value="Negative">Negative</option>
             </select> 
        </div>
        <button class="btn">Calculate</button>
    </form>
</div>
<!-- Notification -->
<div class="notification-container" id="notification">
    <p>Please add a description and amount</p>
</div> 

{% endblock %}
